@import '../styles/mixins.scss';

.titleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;

  h3 {
    margin-right: 1rem;
  }
}

.urlButton {
  margin-top: 0;
}

.introContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // h6 {
  //   margin-bottom: 0.3rem;
  // }
}

.introContent {
  min-width: calc(50% - 1rem);
  width: calc(50% - 1rem);
  margin-top: 1rem;
}

@include respond-to('small') {
  .introContent {
    min-width: 100%;
    width: 100%;
  }

  .urlButton {
    margin-top: 1rem;
  }
}
