@import '../styles/mixins.scss';

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.logoContainer {
  height: auto;
  max-width: 600px;
  width: 100%;
  margin-left: -10%;
}

@include respond-to('small') {
  .logoContainer {
    margin-left: 0;
  }
}
