@import '../styles/mixins.scss';

.header {
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 240px;
  width: 100%;
  padding: 0 1.5rem 3rem 1.5rem;

  &.home {
    // justify-content: center;
  }
}

.logoContainer {
  position: absolute;
  top: 0;
  // left: 50%;
  // left: 1.5rem;
  height: auto;
  width: 300px;
  transition: transform ease-in 3s;

  .home & {
    transform-origin: top;
    // transform: translate(50%, 0) scale(1.8);
    transform: translate(calc(50vw - 250px), 1rem) scale(1.8);

    // max-width: 600px;
    // margin-top: 1.5rem;
    // margin-bottom: 2rem;
    // margin-left: -10%;
  }
}

.title {
}

@include respond-to('small') {
  .logoContainer {
    max-width: 180px;
    margin-left: 0;

    .home & {
      max-width: 100%;
    }
  }
}
