.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  margin-bottom: 3rem;
}

.logoContainer {
  height: auto;
  max-width: 600px;
  width: 100%;
}
