@import '../styles/mixins.scss';

.section {
  margin-bottom: 4rem;
}

.featuredContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.featuredImage {
  width: 50%;
  min-width: 50%;
}

.featuredText {
  width: 50%;
  min-width: 50%;
  padding-left: 1.5rem;
  box-sizing: border-box;
}

.linkButton {
  font-size: 1.1rem;
  margin-top: 0;
}

@include respond-to('small') {
  .featuredImage {
    width: 100%;
  }

  .featuredText {
    width: 100%;
    padding-left: 0;
  }
}
