.grid {
  display: grid;
  grid-template-columns: 1fr minmax(0, 960px) 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 1.5rem;
  grid-template-areas: 'header header header' '. main .' '. footer .';
  min-height: 100vh;
  margin: 1.5rem 0;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
